.button {
  font-family: "League Spartan", sans-serif;
  border: none;
  color: #fff;
  border-radius: 24px;
  padding-block: 17px;
  padding-inline: 24px;
  text-align: center;
  cursor: pointer;
}
.button:focus {
  outline: 3px solid blue;
  outline-offset: 2px;
}
.button--primary {
  background: #7c5dfa;
  min-inline-size: 131px;
}
.button--icon {
  padding: 8px;
  min-inline-size: 150px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.cirle-icon {
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
  background: #fff;
}
.plus-icon {
  padding: 11px;
  inline-size: 10px;
  inset-block: 10px;
}
.button--primary:hover {
  background: #9277ff;
}
.button--secondary {
  min-inline-size: 73px;
  background: #f9fafe;
  color: #7e88c3;
}
.button--secondary:hover {
  background: #dfe3fa;
}
.button--ternary {
  min-inline-size: 133px;
  background-color: #373b53;
  color: #888eb0;
}
.button--ternary:hover {
  background: #0c0e16;
}
.button--danger {
  min-inline-size: 89px;
  background: #ec5757;
}
.button--danger:hover {
  background: #ff9797;
}
