.button {
  font-family: "League Spartan", sans-serif;
  border: none;
  color: #fff;
  border-radius: 24px;
  padding-block: 17px;
  padding-inline: 24px;
  text-align: center;
  cursor: pointer;
}
.primary {
  background: #7c5dfa;
  min-inline-size: 131px;
}
.icon {
  padding: 8px;
  min-inline-size: 150px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.cirle-icon {
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
  background: #fff;
}
.icon__mas {
  padding: 11px;
  inline-size: 10px;
  inset-block: 10px;
}
.primary:hover {
  background: #9277ff;
}
.secondary {
  min-inline-size: 73px;
  background: #f9fafe;
  color: #7e88c3;
}
.secondary:hover {
  background: #dfe3fa;
}
.ternary {
  min-inline-size: 133px;
  background-color: #373b53;
  color: #888eb0;
}
.ternary:hover {
  background: #0c0e16;
}
.danger {
  min-inline-size: 89px;
  background: #ec5757;
}
.danger:hover {
  background: #ff9797;
}
.last {
  min-inline-size: 100%;
}
.button {
  content: prueba;
}
