:root {

  
  /*  white */
  --white-100: #fff;
  --white-300: #f9fafe;

  /*  purple */
  --purple-100: #9277ff;
  --purple-400: #7c5dfa;

  /* red */

  --red-100: #ec5757;
  --red-200: #ff9797;

  /* green - orange */

  --green-400: #33d69f;
  --orange-400: #ff8f00;

  /*  grey */
  --grey-100: linear-gradient(0deg, #888eb0, #888eb0),
    linear-gradient(0deg, #f8f8fb, #f8f8fb);
  --grey-200: #dfe3fa;
  --grey-300: #888eb0;
  --grey-400: #7e88c3;
  /*  black */
  --black-100: #373b53;
  --black-200: #1e2139;
  --black-300: #252945;
  --black-400: #141625;
  --black-500: #0c0e16;

  /* font */
  --font-h1: 700 2rem/2.24rem "League Spartan", sans-serif;
  --font-h2: 700 1.25rem/1.4rem "League Spartan", sans-serif;
  --font-h3: 700 1rem/1.5rem "League Spartan", sans-serif;
  --font-h4: 700 0.75rem/0.9375rem "League Spartan", sans-serif;
  --font-body1: 500 0.75rem/0.9375rem "League Spartan", sans-serif;
  --font-body2: 500 0.6875rem/1.125rem "League Spartan", sans-serif;
}
