.dropdown__text {
  color: var(--grey-400);
}
.menu {
  margin-block-start: 10px;
  inline-size: 240px;
  background: var(--white-100);
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  padding-block: 17px;
  padding-inline-start: 20px;
  padding-inline-end: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu:hover,
.menu:focus {
  border: 1px solid var(--purple-400);
  outline: none;
}
.selector {
  margin-block-start: 24px;
  inline-size: 240px;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  display: none;
}
.selecButton {
  padding-block: 15px;
  padding-inline: 24px;
  text-align: start;
  background: var(--white-100);
  font: var(--font-h4);
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--grey-200);
}
.selecButton:last-child {
  border-bottom: none;
}
.selecButton:hover {
  color: var(--purple-400);
}
.selector__opcion1 {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}
.selector__opcion4 {
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}
.flex {
  display: flex;
}
