/* TODO: remove it */
@import url('./global.css');
@import url('./css-vars.css');
@import url('./typography.css');
@import url('./buttons.css');
@import url('./textfield.css');

body {
  margin: 0;
  padding: 24px;
}

nav {
  display: flex;
  gap: 20px;
}
