.text_field {
    inline-size: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_field__label {
  font: var(--font-body2);
  color: var(--grey-400);

}

.text_field__input {
    padding-block: 17px;
    padding-inline-start: 20px;
    border-radius: 4px;
    border: none;
    background: var(--white-100);
    border: 1px solid var(--grey-200);
    font: var(--font-h4);
    color: var(--black-500);
}


.text_field__input:hover,
.text_field__input:focus{
    border: 1px solid var(--purple-100);
    outline: none;
}