.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  max-inline-size: 350px;
  inline-size: 100%;
  position: relative;
}
.dropdown__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown__label {
  color: var(--grey-400);
}
.dropdown__button {
  background: var(--white-100);
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  padding-block: 17px;
  padding-inline: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.dropdown__button:hover,
.dropdown__button:focus {
  border: 1px solid var(--purple-400);
  outline: none;
}
.dropdown__list {
  margin-block-start: 24px;
  max-inline-size: 350px;
  inline-size: 100%;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  inset-block-start: 100%;
  display: none;
}
.dropdown__option {
  padding-block: 15px;
  padding-inline: 12px;
  text-align: start;
  background: var(--white-100);
  font: var(--font-h4);
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--grey-200);
}
.dropdown__option:last-child {
  border-bottom: none;
}
.dropdown__option:hover {
  color: var(--purple-400);
}
.dropdown__list.flex {
  display: flex;
}
.dropdown__arrowrotate.rotate {
  transform: rotate(180deg);
}
