body {
  overflow: auto;
}
.list__content__wraper {
  position: relative;
}
.editInvoice {
  max-inline-size: 719px;
  background: var(--white-100);
  height: 100vh;
  flex-direction: column;
  position: absolute;
  inset-block-start: 72px;
  border: none;
  padding-inline: unset;
  padding-block-end: 100px;
}
.editInvoice::backdrop {
  background: rgba(0, 0, 0, 0.2);
}
.editInvoice__form {
  padding-block-start: 32px;
  padding-inline: 24px;
}
.editInvoice__title {
  margin-block-end: 24px;
  display: flex;
  color: var(--black-500);
}
.editInvoice__maintitle {
  margin-right: 5px;
}
.editInvoice__details__hash {
  color: var(--grey-300);
}

.editInvoice__bill {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.bill__subtitle {
  color: var(--purple-400);
}
.bill__cityCodeCountry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'city postCode' 'country country';
  gap: 24px;
}
.country {
  grid-area: country;
}
.to {
  margin-block-start: 40px;
}
.editInvoice__dueDate {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block-start: 40px;
}
.textfield.project {
  margin-top: 40px;
}
.datepicker__button {
  width: 100%;
}
.itemList {
  margin-block-start: 65px;
  margin-block-end: 34px;
}
.billItemList__title {
  color: var(--grey-300);
}
.itemList__components {
  margin: unset;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.itemList__calc {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr;
  grid-template-areas: 'itemName itemName itemName' 'Qty price total';
  row-gap: 24px;
  column-gap: 16px;
}
.itemName {
  grid-area: itemName;
}
.total__imput__borderColor {
  border-color: transparent;
}
.total__imput__borderColor:hover {
  border-color: transparent;
}
.total__imput {
  display: flex;
}
.removeCalc {
  background-color: transparent;
  padding: unset;
  border: none;
  cursor: pointer;
}
.spaceDecorate {
  inline-size: 100%;
  block-size: 64px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.editInvoice__buttons {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: var(--white-100);
  padding-inline: 24px;
  padding-block: 20px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.editInvoice__buttons__apart {
  display: flex;
  gap: 8px;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.disabled:hover {
  cursor: not-allowed;
  border-color: #e0e3fa;
}
.trash__icon:hover {
  fill: #ec5757;
}
input::placeholder {
  color: red;
}
.error {
  color: var(--red-100);
  font: var(--font-body1);
  border-color: var(--red-100);
}
@media (min-width: 640px) {
  .editInvoice__buttons {
    max-width: 719px;
    justify-content: flex-end;
  }
  .editInvoice__dueDate {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .editInvoice {
    padding-block-end: 50px;
    padding-inline: 55px;
    inset-block-start: 0;
    inset-inline-start: 103px;
  }
  .editInvoice__footer {
    position: absolute;
  }
  .editInvoice__buttons {
    margin-inline-start: 103px;
  }
  .editInvoice__dueDate {
    display: flex;
    flex-direction: row;
  }
}
