a {
  text-decoration: none;
}
.listinvoice {
  background: var(--grey);
  padding-block-end: 90px;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  position: relative;
}
.nav__bar {
  block-size: 72px;
  background: var(--black-100);
  display: flex;
  justify-content: space-between;
  position: sticky;
  inset-block-start: 0px;
  z-index: 3;
}
.nav__background {
  block-size: 72px;
  inline-size: 72px;
  border-radius: 0px 20px 20px 0px;
  background: var(--purple-400);
  position: relative;
}
.nav__logo {
  max-inline-size: 30px;
  min-block-size: 30px;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.nav__background--second {
  background: var(--purple-100);
  inline-size: 100%;
  block-size: 50%;
  border-start-start-radius: 20px;
  border-end-end-radius: 20px;
  position: absolute;
  inset-block-start: 50%;
}
.nav__profile {
  display: flex;
  margin-inline-end: 24px;
  align-items: center;
  gap: 24px;
}
.profile__icon {
  cursor: pointer;
}
.nav__profile__line {
  block-size: 100%;
  border: 1px solid #494e6e;
}
.list__content {
  padding-inline: 24px;
  position: relative;
}
.list__content__header {
  margin-block: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__header__p {
  color: var(--grey-300);
}
.list__content__buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.filter__button__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.filter__selected {
  inline-size: 20px;
  block-size: 20px;
  border-radius: 50%;
  background: var(--purple-400);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-inline-start: -20px;
  display: none;
}
.filter__selected__number {
  color: var(--white-100);
}
.filter__button {
  background: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  border: none;
}
.text__adition__desk {
  display: none;
}
.filter__checkbox {
  min-inline-size: 192px;
  padding: 24px;
  margin-block-start: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  z-index: 2;
  inset-block-start: 10px;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  display: none;
}
.filter__button:hover {
  opacity: 80%;
}
.filter__option {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: var(--black-500);
}
.checkbox__container {
  inline-size: 16px;
  block-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--grey-200);
  background: var(--grey-200);
}
.checkbox__container:hover {
  border-color: var(--purple-400);
}
.checkbox:checked + .checkbox__container {
  background: var(--purple-400);
  border-color: var(--purple-400);
}
.checkbox__icon {
  display: none;
}
.checkbox:checked + .checkbox__container .checkbox__icon {
  display: block;
}
.list__buttons__filter {
  align-self: center;
  gap: 12px;
  position: relative;
}
.filter__selected {
  inline-size: 20px;
  block-size: 20px;
  border-radius: 50%;
  background: var(--purple-400);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-inline-start: -20px;
  display: none;
}
.filter__selected__number {
  color: var(--white-100);
}
.filter__button {
  background: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  border: none;
}
.filter__checkbox {
  min-inline-size: 192px;
  padding: 24px;
  margin-block-start: 20px;
  background: var(--white-100);
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  display: none;
}
.filter__button:hover {
  opacity: 80%;
}
.filter__option {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.checkbox__container {
  inline-size: 16px;
  block-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--grey-200);
  background: var(--grey-200);
}
.checkbox__container:hover {
  border-color: var(--purple-400);
}
.checkbox:checked + .checkbox__container {
  background: var(--purple-400);
  border-color: var(--purple-400);
}
.checkbox__icon {
  display: none;
}
.checkbox:checked + .checkbox__container .checkbox__icon {
  display: block;
}
.list__content__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list__cards {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  border: 1px solid var(--white-100);
  justify-content: space-between;
  gap: 24px;
  background: var(--white-100);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  position: relative;
}
.list__cards:hover {
  border-color: var(--purple-400);
  cursor: pointer;
}
.list__code,
.list__details {
  display: flex;
  justify-content: space-between;
}
.list__code__numeral {
  color: var(--grey-400);
}
.list__code__number {
  color: var(--black-500);
}
.list__code__name {
  color: var(--grey-300);
}
.link__details::before {
  content: ' ';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}
.list__details__count {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list__details__date {
  color: var(--grey-400);
}
.list__details__status {
  inline-size: 104px;
  margin-block: 3px;
  padding-block: 12px;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.list__details__status--paid {
  background: rgba(51, 214, 159, 0.1);
}
.list__status__point {
  block-size: 8px;
  inline-size: 8px;
  border-radius: 50%;
}
.list__status__point--paid {
  background: var(--green-400);
}
.list__status__statuspage--paid {
  color: var(--green-400);
}
.list__details__status--pending {
  background-color: rgba(255, 143, 0, 0.1);
}
.list__status__point--pending {
  background: var(--orange-400);
}
.list__status__statuspage--pending {
  color: var(--orange-400);
}
.list__details__status--draft {
  background: rgba(55, 59, 83, 0.1);
}
.list__status__point--draft {
  background: var(--black-100);
}
.list__status__statuspage--draft {
  color: var(--black-100);
}
.list__details__count span{
  color: var(--black-500);
}
.anchor {
  overflow: hidden;
}
.error {
  text-align: center;
  color: var(--grey-300);
}
.empty {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 102px;
}
.empty.flex,
.filter__checkbox.flex {
  display: flex;
}
.empty__description {
  text-align: center;
  color: var(--grey-300);
  margin-block-start: 24px;
}
.rotate {
  transform: rotate(180deg);
}
@media (min-width: 640px) {
  .list__content {
    padding-inline: 140px;
  }
}
@media (min-width: 768px) {
  .list__content {
    padding-inline: 48px;
    align-self: center;
  }
  .list__content__header {
    margin-block: 56px;
  }
  .content__header__title {
    font: var(--font-h1);
    color: var(--black-500);
  }
  .text__adition__desk {
    display: contents;
  }
  .button--icon {
    min-inline-size: 140px;
  }
  .list__cards,
  .list__details__count {
    align-items: center;
    flex-direction: row;
  }
  .list__details__status,
  .list__code__name {
    margin-inline-start: 30px;
  }
  .list__details__date {
    margin-inline-end: 30px;
  }
  .list__details::after {
    content: url(../../icon/arrowdown.svg);
    margin-inline-start: 25px;
    transform: rotate(-90deg);
  }
}
@media (min-width: 912px) {
  .list__content {
    padding-inline: 90px;
  }
}
@media (min-width: 1024px) {
  .listinvoice {
    padding: unset;
    flex-direction: row;
    align-items: flex-start;
  }
  .nav__bar {
    border-radius: 0px 20px 20px 0px;
    min-inline-size: 105px;
    flex-direction: column;
    block-size: 100vh;
  }
  .nav__background {
    min-inline-size: 100%;
    block-size: 105px;
  }
  .nav__logo {
    max-inline-size: 40px;
    min-block-size: 40px;
  }
  .nav__profile {
    flex-direction: column;
    margin: unset;
    justify-content: flex-end;
    padding-block-end: 24px;
  }
  .nav__profile__line {
    inline-size: 100%;
  }
  .icon2 {
    inline-size: 40px;
  }
  .list__content__wraper {
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .list__content {
    min-inline-size: 730px;
    padding: unset;
  }
  .list__content__header {
    margin-block: 70px;
  }
  .list__content__cards {
    margin-block-end: 70px;
  }
  .list__details__status,
  .list__code__name {
    margin-inline-start: 45px;
  }
  .list__details__date {
    margin-inline-end: 45px;
  }
  .list__details::after {
    margin-inline-start: 30px;
  }
}
