.listinvoice {
  background: #f2f2f2;
  padding-block-end: 90px;
}
.nav__bar {
  block-size: 72px;
  background: var(--black-100);
  display: flex;
  justify-content: space-between;
  position: sticky;
  inset-block-start: 0px;
}
.nav__background {
  block-size: 72px;
  inline-size: 72px;
  border-radius: 0px 20px 20px 0px;
  background: var(--purple-400);
  position: relative;
}
.nav__logo {
  max-inline-size: 30px;
  min-block-size: 30px;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.nav__background--second {
  background: var(--purple-100);
  inline-size: 100%;
  block-size: 50%;
  border-start-start-radius: 20px;
  border-end-end-radius: 20px;
  position: absolute;
  inset-block-start: 50%;
}
.nav__profile {
  display: flex;
  padding-inline: 24px;
  align-items: center;
  gap: 24px;
}
.nav__profile__line {
  min-block-size: 72px;
  border: 1px solid #494e6e;
}
.list__content {
  padding-inline: 24px;
}
.list__content__header {
  margin-block: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__header__p {
  color: var(--grey-300);
}
.list__content__buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.filter__button__wrapper {
  position: relative;
}
.filter__button {
  background: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  border: none;
}
.filter__checkbox {
  min-inline-size: 192px;
  padding: 24px;
  margin-block-start: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  display: none;
}
.filter__button:hover {
  opacity: 80%;
}
.filter__option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}
.checkbox__container {
  inline-size: 16px;
  block-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--grey-200);
  background: var(--grey-200);
}
.checkbox__container:hover {
  border-color: var(--purple-400);
}
.checkbox:checked + .checkbox__container {
  background: var(--purple-400);
  border-color: var(--purple-400);
}
.checkbox__icon {
  display: none;
}
.checkbox:checked + .checkbox__container .checkbox__icon {
  display: block;
}

.list__content__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list__cards {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  background: var(--white-100);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}
.list__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.list__details__count {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.list__details__numeral {
  color: var(--grey-400);
}
.list__details__number {
  color: var(--black-500);
}
.list__details__date {
  color: var(--grey-400);
}
.list__code {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.list__code__name {
  color: var(--grey-300);
}
.list__code__check {
  inline-size: 104px;
  padding-block: 12px;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.list__code__check--paid {
  background: rgba(51, 214, 159, 0.1);
}
.list__check__point {
  block-size: 8px;
  inline-size: 8px;
  border-radius: 50%;
}
.list__check__point--paid {
  background: var(--green-400);
}
.list__check__checkpage {
  color: var(--green-400);
}
.list__code__check--pending {
  background-color: rgba(255, 143, 0, 0.1);
}
.list__check__point--pending {
  background: var(--orange-400);
}
.list__check__checkpage--pending {
  color: var(--orange-400);
}
.list__code__check--draft {
  background: rgba(55, 59, 83, 0.1);
}
.list__check__point--draft {
  background: var(--black-100);
}
.list__check__checkpage--draft {
  color: var(--black-100);
}
.flex {
  display: flex;
}
