.text-h1 {
  font: var(--font-h1);
  letter-spacing: -1px;
}

.text-h2 {
  font: var(--font-h2);
  letter-spacing: -0.625px;
}

.text-h3 {
  font: var(--font-h3);
  letter-spacing: -0.8px;
}

.text-h4 {
  font: var(--font-h4);
  letter-spacing: -0.25px;
}

.text-body1 {
  font: var(--font-body1);
  letter-spacing: -0.25px;
}

.text-body2 {
  font: var(--font-body2);
  letter-spacing: -0.229167px;
}
