.viewInvoice {
  padding: 1.5rem;
  padding-top: 2.5rem;
  min-block-size: 100%;
  background: var(--grey);
  max-inline-size: 768px;
  margin: auto;
  margin-block: none;
}

.Invoice__Address {
  display: block;
}

.viewInvoice__status {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.viewInvoice__returnButton__icon {
  height: 4.23px;
  transform: rotate(90deg);
}

.viewInvoice__summary {
  background: var(--white-100);
  padding: 1rem;
  display: flex;
  block-size: 5.5rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.viewInvoice__summary__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.viewInvoice__summary__button {
  padding-block: 13px;
  padding-inline: 17px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}
.viewInvoice__summary__button--pending {
  background-color: rgba(255, 143, 0, 0.1);
}
.viewInvoice__summary__button--paid {
  background-color: rgba(51, 214, 159, 0.1);
}
.viewInvoice__summary__button--draft {
  background-color: rgba(55, 59, 83, 0.1);
}
.viewInvoice__summary__button__icon {
  block-size: 8px;
  inline-size: 8px;
  border-radius: 50%;
}
.list__status__point--pending {
  background: var(--orange-400);
}
.list__status__point--draft {
  background: var(--black-300);
}
.list__status__point--paid {
  background: var(--green-400);
}

.viewInvoice__summary__status {
  color: #ff8f00;
}
.viewInvoice__summary__title {
  color: var(--grey-500);
}

/* second part of viewinvoice details */

.viewInvoice__details {
  background: var(--white-100);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-bottom: 91px;
}

.viewInvoice__returnButton__title {
  text-decoration: none;
  display: flex;
  gap: 1.5rem;
  background: none;
  align-items: center;
  justify-content: flex-start;
  border: none;
  margin-block-end: 2rem;
  color: var(--black-500);
}

.viewInvoice__details__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.viewInvoice__details__hash {
  color: var(--grey-400);
}
.viewInvoice__details__number {
  color: var(--black-500);
}

.viewInvoice__details__information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewInvoice__details__text {
  color: var(--grey-400);
  line-height: 18px;
  width: 94px;
}
.viewInvoice__ditails__address {
  color: var(--grey-400);
  line-height: 18px;
  width: 94px;
}
.viewInvoice__details__initialDate__text,
.viewInvoice__details__dueDate__text {
  color: var(--black-500);
}

/* dates */

.viewInvoice__details__date__bill {
  display: flex;
}
.invoiceID__desktop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewInvoice__details__bill {
  width: 50%;
}

.viewInvoice__details__date {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.viewInvoice__details__initialDate,
.viewInvoice__details__dueDate {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.viewInvoice__details__bill__title {
  margin-block-end: 0.75rem;
  color: var(--grey-400);
}

.viewInvoice__details__bill__name {
  color: var(--black-500);
  margin-block-end: 0.5rem;
}
.viewInvoice__details__bill__addreess {
  color: var(--grey-400);
  width: 93px;
  line-height: 18px;
}

.viewInvoice__details__dueDate__title,
.viewInvoice__details__initialDate__title {
  color: var(--grey-400);
}

/* correo */

.viewInvoice__details__sent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
  margin-block-start: 30px;
}

.viewInvoice__details__sent__title {
  color: var(--grey-400);
}
.viewInvoice__details__sent__mail {
  color: var(--black-500);
}

/* precios */
.viewInvoice__details__billing {
  background-color: var(--white-300);
  border-radius: 8px 8px 0px 0px;
}

/* grid de lista de precios */
.viewInvoice__details__billing__firstSecond {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.viewInvoice__details__first__billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'title price' 'unit price';
  gap: 0.5rem;
  align-items: center;
}

.viewInvoice__details__first__billing__title {
  grid-area: title;
  color: var(--black-500);
}

.viewInvoice__details__first__billing__totalPrice {
  color: var(--black-500);
  grid-area: price;
  text-align: right;
}

.viewInvoice__details__first__billing__unit {
  grid-area: unit;
  color: var(--grey-400);
}

.viewInvoice__details__second__billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'title price' 'unit price';
  gap: 0.5rem;
  align-items: center;
}

.viewInvoice__details__second__billing__title {
  grid-area: title;
}

.viewInvoice__details__second__billing__totalPrice {
  text-align: right;
  grid-area: price;
}

.viewInvoice__details__second__billing__unit {
  grid-area: unit;
  color: var(--grey-400);
}

.viewInvoice__details__total__billing__section {
  background-color: var(--black-700);
  border-radius: 0px 0px 8px 8px;
  padding: 1.5rem;
}

.viewInvoice__details__total__billing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewInvoice__details__total__billing__title,
.viewInvoice__details__total__billing__final {
  color: #fff;
}

/* final-buttons */

.viewInvoice__buttons {
  padding-inline: 1.5rem;
  padding-block: 18px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  background: var(--white-100);
}

/* displays nones */

.viewInvoice__details__total__billing__title.desktop {
  display: none;
}

.viewInvoice__details__billing__title.desktop {
  display: none;
}
.viewInvoice__details__second__billing__cant.desktop,
.viewInvoice__details__second__billing__price.desktop {
  display: none;
}

.viewInvoice__details__first__billing__cant.desktop,
.viewInvoice__details__first__billing__price.desktop {
  display: none;
}

@media screen and (min-width: 640px) {
  body {
    background: var(--grey);
  }
  .viewInvoice__details__date__bill {
    width: 60%;
  }
  .viewInvoice {
    margin-block-start: 120px;
    max-width: 730px;
    padding: 0;
  }

  .viewInvoice__buttons {
    padding-inline: 0;
    position: relative;
    justify-content: flex-end;
  }
  .detail__billing_mail1 {
    display: flex;
  }
  .invoiceID__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .viewInvoice__summary {
    padding-inline: 2rem;
  }

  .viewInvoice__summary {
    display: flex;
    justify-content: flex-start;

    justify-content: space-between;
  }

  .viewInvoice__summary__main {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  .viewInvoice__details {
    padding: 2rem;
  }
  .viewInvoice__details__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .viewInvoice__details__billing__title {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 1.5rem;
    padding-bottom: 1rem;
    color: var(--grey-400);
  }
  .viewInvoice__details__billing__quantity,
  .viewInvoice__details__billing__itemPrice,
  .viewInvoice__details__billing__total {
    text-align: right;
  }

  .viewInvoice__details__billing__firstSecond {
    display: grid;
    grid-template-columns: 1fr;
  }

  .viewInvoice__details__billing__description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: right;
  }

  .viewInvoice__details__second__billing {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: 'title unit price totalPrice';
    grid-template-rows: none;
    gap: 0.5rem;
    align-items: center;
  }

  .viewInvoice__details__second__billing__title {
    grid-area: title;
  }
  .viewInvoice__details__second__billing__price {
    text-align: right;
    grid-area: price;
  }

  .viewInvoice__details__second__billing__totalPrice {
    text-align: right;
    grid-area: totalPrice;
  }

  .viewInvoice__details__second__billing__cant {
    grid-area: unit;
    text-align: right;
    color: var(--grey-400);
  }

  .viewInvoice__details__first__billing {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: 'title unit price totalPrice';
    grid-template-rows: none;
    gap: 0.5rem;
    align-items: center;
  }

  .viewInvoice__details__first__billing__title {
    grid-area: title;
  }
  .viewInvoice__details__first__billing__price {
    color: var(--grey-400);
    text-align: right;
    grid-area: price;
  }

  .viewInvoice__details__first__billing__totalPrice {
    text-align: right;
    grid-area: totalPrice;
  }

  .viewInvoice__details__first__billing__cant {
    grid-area: unit;
    text-align: right;
    color: var(--grey-400);
  }
  .viewInvoice__details__sent {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 0.75rem;
    margin-block-start: 30px;
    margin-top: 0;
  }

  /* display nones */

  .viewInvoice__details__total__billing__title.mobile {
    display: none;
  }
  .viewInvoice__details__total__billing__title.desktop {
    display: flex;
  }

  .viewInvoice__details__billing__title.desktop {
    display: grid;
  }
  .viewInvoice__details__second__billing__unit.mobile,
  .viewInvoice__details__first__billing__unit.mobile {
    display: none;
  }
  .viewInvoice__details__second__billing__cant.desktop,
  .viewInvoice__details__second__billing__price.desktop {
    display: grid;
  }
  .viewInvoice__details__first__billing__cant.desktop,
  .viewInvoice__details__first__billing__price.desktop {
    display: grid;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: var(--grey);
    margin: auto;
  }
  .viewInvoice {
    padding: 0;
    padding-top: 64px;
    max-width: 730px;
    margin: auto;
  }
}
